.button {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(32px, 2.5vw, 24px);
  padding-bottom: 30px;
}

.text {
  font-size: 1.125em;
  line-height: 1.5555555556em;
  color: #13100d;
}